In [1]:
# Q1. Create one variable containing-string,list,float,tuple

In [5]:
p=('pradip',5.67)

In [6]:
type(p)

tuple

In [7]:
q='pradip'

In [8]:
type(q)

str

In [9]:
r=[1,2,True,2.5]

In [10]:
type(r)

list

In [11]:
s=2.5

In [12]:
type(s)

float

In [14]:
# Q2. Given are some following variables containing data:
#(i) var1="
#(ii) var 2='[DS,ML,Python]'
#(iii) var3 =['DS','ML','Python']
#(iv) var4 =1

In [22]:
var3=['DS','ML','Python']

In [23]:
type(var3)

list

In [24]:
var4=1

In [26]:
type(var4)

int

In [28]:
# Q3. Explain the use of the following operators using an examples
#(i) "/" it is used for dividing the one variable by another
#(ii) "%"  it is use to find the remainder ,when one variable divides the other one 
#(iii) "//" it calclates only the numerical value not the decimal decimal part
#(iv)"**" it is the symbol of power or exponent in programming language
# some of their examples are  :

In [33]:
a=5
b=2
c=a/b

In [30]:
c

2.5

In [34]:
a%b

1

In [35]:
a//b

2

In [36]:
a**b

25

In [37]:
# Q4. Create a list of length 10 of your choice containing multiple type of data. Using for loop print the element and its data type.

In [39]:
a=[1,2,3,4,'pradip','rai',True,22.57,False,5]

In [40]:
for i in a:
    print(type(i))
    print(i)

<class 'int'>
1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'str'>
pradip
<class 'str'>
rai
<class 'bool'>
True
<class 'float'>
22.57
<class 'bool'>
False
<class 'int'>
5

In [43]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [44]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else condition prin if the element is divisible by 3 or not.

In [55]:
a=list(range(1,25))

In [56]:
a

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24]

In [75]:
i=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
if i//3:
    print("i is divisible by3")
else:
    print("i is not divisible by 3")

TypeError: unsupported operand type(s) for //: 'list' and 'int'

In [76]:
# Q7. What do you understand by mutable and immutable data type? Give examples for both showing this property.

In [ ]:
# Mutable data type are the data type which allow you to change the value or data in place without affecting the data type .And immutable data type is that which doesnot allow to change the value of the data given.
# For ex- "list" is a mutable data type on the other hand "string" is a immutable data type.